{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}

<div class="container">
{% if data == [] %}

  <h1 class="heading">Error</h1>

      <h2>Unfortunatelly we could not find this movie in the TMDb database.</h2>
      <p>Please click <a href="{{ url_for('main.home') }}">here</a>  to come back to the main page and try different movie. </p>

{% else %}

  <h1 class="heading">Select Movie</h1>
    <p>
        {% for item in data %}
        <li style="list-style-type: none">
          <ul>
          <a href="{{ url_for('main.find_movie', id=item['id']) }}"> {{ item['title'] }} - {{ item['release_date'] }}</a>
          </ul>
        </li>
        {% endfor %}
    </p>

  {% endif %}
</div>
{% endblock %}
